body{
overflow:hidden;
background-image: url("/img/garden-bg.jpg");
background-size: 100%;
height:100%;
width:100%;
}
h1{
font-family: "Courier New", serif;
color: #FFFFFF;
font-size: 120px;
}
h2{
font-family: "Trebuchet MS", sans-serif;
color: #FFFFFF;
font-size: 62px;
}
#title{
background-image: url("/img/kg-title.gif");
background-size: 100%;
position:absolute;
text-align:center;
width:402px;
height:776px;
top: 0px;
bottom: 0px;
max-height: 100%;
margin-top: auto;
margin-bottom:auto;
margin-left:50px;
}

#play-golf{
margin-top: 20px;
margin-bottom:auto;
height: 680px;
text-align:center;
}
#game-main{
border-radius: 10px;
box-shadow: 0px 0px 5px 10px #000000;
padding: 20px;
margin: auto;
font-family: "Comic Sans MS", sans-serif;
font-size: 20px;
width: 420px;
color: #FFFFFF;

}
.piece{
background-image: url("/img/piece2.gif");
background-size:100%;
opacity: 0.8;
width:44px;
height:44px;
margin: 1px 1px;
border-radius: 5px;
background-size:contain;
}
#comment{
margin: 20px 20px 20px 20px;
font-family: "Comic Sans MS", sans-serif;
font-size: 20px;
color: #FFFFFF;
}
td{
width:46px;
height: 46px;
}
.cell{
width:44px;
height:44px;
border-style: solid;
border-color: #00DDFF;
margin: 1px 1px;
border-radius: 5px;
background-size:contain;
background-color: #111;
}