body{
overflow:hidden;
background-image: url("/img/space-bg.jpg");
background-size: 100%;
height:100%;
width:100%;
}
#convo-top{
float:right;
background-image: url("/img/convo-top.png");
margin-left: auto;
background-size: contain;
background-repeat: no-repeat;
width: 100%;
height: 50%;
}
#convo-bottom{
float:left;
background-image: url("/img/convo-bottom.png");
border-color: #DDF;
background-size: contain;
background-repeat: no-repeat;
width: 100%;
height: 50%;
}
.contents{
text-align:center;
position: relative;
font-family: "Courier New", serif;
font-weight: bold;
font-size: 12pt;
top: 110px;
margin: auto;
width: 300px;
height: 110px;
overflow-y: hidden;
}
h1{
font-family: "Courier New", serif;
color: #FFFFFF;
font-size: 62px;
}
h2{
font-family: "Courier New", serif;
color: #FFFFFF;
font-size: 36px;
}
h3{
font-family: "Courier New", serif;
color: #FFFFFF;
font-size: 21px;
}
.panel{
background-size: 100%;
position:absolute;
text-align:center;
height:776px;
top: 0px;
bottom: 0px;
max-height: 100%;
margin-top: auto;
margin-bottom:auto;
margin-left:50px;
}
#title{ 
    left: 0px;
    top:0px;
    background-color: rgba(128,128,128,0.0);
        position: absolute;
        z-index: 2;
        background-size:contain;
        width: 100%;
        height:100%;
        margin: 0px auto;
        padding: 50px;
        text-align: left;
        background-repeat: no-repeat;
        color: #FFFFFF;
        font-family: "Courier New", serif;
        font-size: 20pt;
      }

#play-golf{
margin-top: 20px;
bottom:20px;
}
#game-main{
border-radius: 10px;
//box-shadow: 0px 0px 5px 10px rgba(216,216,255,0.9);
padding: 10px;
font-family: "Courier New", serif;
font-size: 20px;
color: #FFFFFF;

}

.bg1{
z-index:2;
overflow:hidden;
position:fixed;
margin: 0px;
background-image: url("/img/space-bg1.jpg");
background-size: 100%;
height:100%;
width:100%;
}
.bg2{
position:fixed;
margin: 0px;
z-index:3;
overflow:hidden;
background-image: url("/img/space-bg2.png");
background-size: 100%;
height:100%;
width:100%;
}
.bg3{
position:fixed;
margin: 0px;
z-index:4;
overflow:hidden;
background-image: url("/img/space-bg3.png");
background-size: 100%;
height:100%;
width:100%;
}
.bg-game{
z-index:5;}

.bg4{
position:fixed;
margin-left: -100px;
z-index:4;
overflow:hidden;
background-image: url("/img/space-bg4.png");
background-size: 100%;
height:100%;
width:120%;
}

.piece{
background-size:100%;
width:52px;
height:48px;
font-family: "Courier New", serif;
font-weight: bold;
font-size: 24pt;
color: #ffffff;
-webkit-filter: saturate(60%);
-moz-filter: saturate(60%);
}
.show-piece{
display:inline-block;
background-size:100%;
min-width:52px;
min-height:48px;
-webkit-filter: saturate(60%);
-moz-filter: saturate(60%);
}
.key{
    width: 300px;
    height: 48px;
    font-family: "Courier New", serif;
    font-size: 18pt;
}
.highlight{
-webkit-filter: saturate(300%);
-moz-filter: saturate(300%);
color:#001000;
}
.hearts {background-image: url("/img/piece1.png");}
.diamonds {background-image: url("/img/piece2.png");}
.clubs {background-image: url("/img/piece3.png");}
.spades {background-image: url("/img/piece4.png");}
.reds {background-image: url("/img/piece6.png");}
.drop {background-image: url("/img/drop.gif");
border-style: solid;
border-width: 2px;
border-color: #DDF;
};

#current-text{
font-family: "Courier New", serif;
color: #FFFFFF;
font-size: 20px;
position: absolute;
z-index: 5;
margin: 470px 200px;
width: 200px;
}

#comment{
margin: 20px 20px 20px 20px;
font-family: "Courier New", serif;
font-size: 20px;
color: #FFFFFF;
}
table{
width: 100%;
height:100%;
}
td{
width:52px;
height: 48px;
}
.cell{
width:52px;
height:48px;
box-shadow: 0px 0px 5px 7px; rgba(62,52,52,0.9);
border-style: solid;
//border-width: 2px;
border-color: #DDF;
opacity: 0.5;
background-size:contain;
background-color: rgba(0,0,0,0.1);
}